@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Scott Pulley";
}




    
    <br />
    <img src="~/img/IMG_1417.JPG" width="500" height="350" />
    <br />
    <br />
    <p>My name is Scott, I love cooking. I am looking forward to learning how to make web applications using ASP.NET. Web Applications and Web Development are very interesting to me, because I know that I can use my skills to create assets to bring in forms of income that are not dependent on my efforts. I also love my fiance Sarah very much and I am really excited to marry her!</p>
    <br />

    <h2>Top 3 Job picks</h2> <!--These are my top three job preferences-->
    <ol>
        <li>Software Engineer</li>
        <li>Web Developer</li>
        <li>Project Manager</li>
    </ol>
    <br />
    <br />

    

