body {
    background-image: url(/img/Ocean.jpg);
    font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif
}
h1 {
    background-color: white
}
form {
    background-color: white
}

p {
    background-color: white
}

h2 {
    background-color: white
}
ol {
    background-color: white
}